body {
  margin: 40px 0 0 0;
  padding: 0;
  background-color: #fffffc;
}

.hider-button {
  position: absolute;
  width: 90%;
  height: 90%;
  z-index: 3;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.basic-container {
  border-radius: 10px;
}

.game-container {
  width: 900px;
  height: 500px;
  margin: auto;
}

.main-menu {
  width: 100%;
  height: 100%;
  background-color: #ffc6ff;
}
.main-menu__button-container {
  width: 30%;
  height: 20%;
  margin: auto;
  overflow: hidden;
  border: 2px solid;
  border-radius: 10px;
}
.main-menu__button-container:hover {
  transform: scale(1.02);
}
.main-menu__button {
  width: 100%;
  height: 100%;
  margin: 0;
  color: #000;
  font-size: 30px;
  background: none;
  background-color: rgba(160, 196, 255, 0.7);
  border: none;
}
.main-menu__button:hover {
  background-color: #a0c4ff;
}

.quizz {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #ffc6ff;
}
.quizz__question-window {
  align-content: center;
  width: 500px;
  height: 100px;
  margin: 50px;
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
  border: 10px solid #bdb2ff;
  border-radius: 10px;
}
.quizz__text {
  color: #000;
  font-size: 20px;
  text-align: center;
}
.quizz__button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 450px;
  margin: 0 20%;
}
.quizz__button {
  flex: auto;
  width: 45%;
  height: 50px;
  color: #000;
  font-size: 20px;
  background: none;
  background-color: rgba(160, 196, 255, 0.7);
  border: none;
  border: 2px solid;
  border-radius: 10px;
}
.quizz__button:hover {
  background-color: #a0c4ff;
  transform: scale(1.02);
}
.quizz__exit-button-container {
  position: relative;
  align-self: flex-end;
  justify-self: end;
  margin: 0 20px 20px 0;
}
.quizz__exit-button {
  position: relative;
  align-self: flex-end;
  justify-self: end;
  margin: 0 20px 20px 0;
  color: #000;
  font-size: 20px;
  background: none;
  background-color: rgba(255, 173, 173, 0.7);
  border: 2px solid;
  border-radius: 10px;
}
.quizz__exit-button:hover {
  background-color: #ffadad;
  transform: scale(1.02);
}

.results {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #ffc6ff;
}
.results__congrats-container {
  align-content: center;
  width: 340px;
  height: 100px;
  margin: 100px auto 0;
  margin: 50px;
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
  border: 10px solid #ffadad;
  border-radius: 10px;
}
.results__correct-answers {
  color: #000;
  font-size: 20px;
  text-align: center;
}
.results__exit-button-container {
  margin: 0 0 100px 0;
}
.results__exit-button {
  align-self: flex-end;
  justify-self: end;
  width: 100px;
  height: 50px;
  margin: 0;
  color: #000;
  font-size: 20px;
  background: none;
  background-color: rgba(160, 196, 255, 0.7);
  border: none;
  border: 2px solid;
  border-radius: 10px;
}
.results__exit-button:hover {
  background-color: #a0c4ff;
  transform: scale(1.02);
}

.win {
  background-color: #caffbf !important;
}

.lose {
  background-color: #ffadad !important;
}
