$backgroundColor: #fffffc;
$gameContainerColor: #ffc6ff;
$buttonColor: #a0c4ff;
$exitButtonColor: #ffadad;
$textColor: #000;
$borderColor: #bdb2ff;
$resultBorderColor: #ffadad;

$winColor: #caffbf;
$loseColor: #ffadad;

body {
  margin: 40px 0 0 0;
  padding: 0;
  background-color: $backgroundColor;
}

.hider-button {
  position: absolute;
  width: 90%;
  height: 90%;
  z-index: 3;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.basic-container {
  border-radius: 10px;
}

.game-container {
  width: 900px;
  height: 500px;
  margin: auto;
}

.main-menu {
  width: 100%;
  height: 100%;
  background-color: $gameContainerColor;

  &__button-container {
    width: 30%;
    height: 20%;
    margin: auto;
    overflow: hidden;
    border: 2px solid;
    border-radius: 10px;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__button {
    width: 100%;
    height: 100%;
    margin: 0;
    color: $textColor;
    font-size: 30px;
    background: none;
    background-color: rgba($color: $buttonColor, $alpha: 0.7);
    border: none;

    &:hover {
      background-color: rgba($color: $buttonColor, $alpha: 1);
    }
  }
}

.quizz {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: $gameContainerColor;

  &__question-window {
    align-content: center;
    width: 500px;
    height: 100px;
    margin: 50px;
    background: none;
    background-color: rgba($color: #000, $alpha: 0.1);
    border: 10px solid $borderColor;
    border-radius: 10px;
  }

  &__text {
    color: $textColor;
    font-size: 20px;
    text-align: center;
  }

  &__button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 450px;
    margin: 0 20%;
  }

  &__button {
    flex: auto;
    width: 45%;
    height: 50px;
    color: $textColor;
    font-size: 20px;
    background: none;
    background-color: rgba($color: $buttonColor, $alpha: 0.7);
    border: none;
    border: 2px solid;
    border-radius: 10px;

    &:hover {
      background-color: rgba($color: $buttonColor, $alpha: 1);
      transform: scale(1.02);
    }
  }

  &__exit-button-container {
    position: relative;
    align-self: flex-end;
    justify-self: end;
    margin: 0 20px 20px 0;
  }

  &__exit-button {
    position: relative;
    align-self: flex-end;
    justify-self: end;
    margin: 0 20px 20px 0;
    color: $textColor;
    font-size: 20px;
    background: none;
    background-color: rgba($color: $exitButtonColor, $alpha: 0.7);
    border: 2px solid;
    border-radius: 10px;

    &:hover {
      background-color: rgba($color: $exitButtonColor, $alpha: 1);
      transform: scale(1.02);
    }
  }
}

.results {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $gameContainerColor;

  &__congrats-container {
    align-content: center;
    width: 340px;
    height: 100px;
    margin: 100px auto 0;
    margin: 50px;
    background: none;
    background-color: rgba($color: #000, $alpha: 0.1);
    border: 10px solid $resultBorderColor;
    border-radius: 10px;
  }

  &__correct-answers {
    color: $textColor;
    font-size: 20px;
    text-align: center;
  }

  &__exit-button-container {
    margin: 0 0 100px 0;
  }

  &__exit-button {
    align-self: flex-end;
    justify-self: end;
    width: 100px;
    height: 50px;
    margin: 0;
    color: $textColor;
    font-size: 20px;
    background: none;
    background-color: rgba($color: $buttonColor, $alpha: 0.7);
    border: none;
    border: 2px solid;
    border-radius: 10px;

    &:hover {
      background-color: rgba($color: $buttonColor, $alpha: 1);
      transform: scale(1.02);
    }
  }
}

.win {
  background-color: $winColor !important;
}

.lose {
  background-color: $loseColor !important;
}
